*.db
*.pyc
*.sublime-project
*.sublime-workspace
local_settings.py
skill_map.pickle
static/js/evething-combined.js
static/js/evething/gosquared.js
thing/profile_middleware.py
worker*.pid
build/*
celerybeat-schedule
.DS_Store
api.lock
thing/migrations/0088_auto__add_field_mailmessage_sender_type.py
thing/migrations/0089_auto__del_field_mailmessage_sender_type.py
