{% extends "base.html" %}
{% import 'macros/common.html' as common %}

{% block title %}All users{% endblock %}

{% block extra_js %}
    <script type="text/javascript">$(document).ready(EVEthing.home.onload);</script>
{% endblock %}

{% block content %}
      <div class="row-fluid">
        <div class="span12">
          <span class="pull-right">
            <a href="#" onclick="screenshot_mode();">
              <i class="js-screenshot clickable icon-picture" title="Screenshot sanitised mode"></i>
            </a>
          </span>
        </div>
      </div>
    {%- for profile in profiles %}
      <hr class="margin-half-top">
      <h3><a href="/users/{{ profile.user }}" class="sensitive user-name">{{ profile.user }}</a></h3>
      <div class="row-fluid">
        <div class="span12">
          <span><strong>Total SP:</strong> {{ total_sp[profile.user.id]|commas }}</span>
          <span class="divider">/</span>
          <span><strong>Total Balance:</strong> {{ total_balance[profile.user.id]|commas }} ISK</span>
          <span class="divider">/</span>
          <span><strong>Total Assets:</strong> {{ total_assets[profile.user.id]|commas }} ISK</span>
        </div>
      </div>
      <hr class="margin-half-top">
      {%- for chars in characters[profile.user.id]|batch(4) %}
      <div class="row-fluid">
        {%- for character in chars %}
        <div class="span{{ 12 // 4 }}">
          <div class="well-small well home-character{{ character.z_well_class }}">
            <div>
              <span class="large">
                {%- if character.name == '*UNKNOWN' %}
                {{ character.name }}
                {%- else %}
                <a href="{{ url('thing.views.character', character.name) }}" class="sensitive character-name">
                  {{ character.name }}
                </a>
                {%- endif %}
              </span>
              <span class="small pull-right sensitive apikey-name">[{{ character.z_apikey.name }}]</span>
            </div>

            <div>
              <span></span>
              <span class="small pull-right sensitive corporation-name">{{ character.corporation.name }} [{{ character.corporation.ticker }}]</span>
            </div>

            <div class="clearfix"></div>
            <div>
              <span>{{ character.details.wallet_balance|commas }} ISK</span>
              <span class="small pull-right">{{ character.z_total_sp|commas }} SP</span>
            </div>

            {%- if profile.home_show_locations and character.details.last_known_location %}
            {%- if profile.home_show_separators %}
            <hr />
            {%- endif %}
            <div class="sensitive character-location{% if not profile.home_show_separators %} margin-half-top{% endif %}">
              {{ character.details.last_known_location }}
              {%- if character.details.ship_item_id %}
              -- {{ ship_map[character.details.ship_item_id] }}
              {%- endif %}
            </div>
            {%- endif %}

            {%- if character.z_training %}
            {%- if profile.home_show_separators %}
            <hr />
            {%- endif %}
            <div{% if not profile.home_show_separators %} class="margin-half-top"{% endif %}>
              {{ common.skill_hover(character.z_training.sq.skill, character.z_training.sq.to_level) }}
              <span class="small">(Rank {{ character.z_training.sq.skill.rank }})</span>
              <br>
              <em class="small">{{ character.z_training.skill_duration|shortduration }} @ {{ character.z_training.sp_per_hour }} SP/hr</em>
              {%- if character.z_training.queue_duration > character.z_training.skill_duration %}
              <em class="small pull-right">Queue: {{ character.z_training.queue_duration|shortduration }}</em>
              {%- endif %}
              <div class="progress{% if character.z_training.queue_duration < 86400 %} progress-danger{% endif%}">
                <div class="bar" style="width: {{ character.z_training.complete_per }}%">{{ character.z_training.complete_per }}%</div>
              </div>
            </div>
            {%- endif %}

            {%- if character.z_notifications %}
            {%- if profile.home_show_separators %}
            <hr />
            {%- endif %}
            <div class="home-notifications">
              {%- for notif in character.z_notifications %}
              {% if loop.index > 1 %}&nbsp;{% endif %}<i class="icon-{{ notif.icon }}" rel="tooltip" title="{{ notif.tooltip }}"></i>
              {{ common.span(notif.text, notif.span_class) }}
              {%- endfor %}
            </div>
            {%- endif %}
          </div>

        </div>
        {%- endfor %}
      </div>
      {%- endfor %}

      {%- if events %}
      <hr class="nomargin">
      <div class="row-fluid">
        <h4>Event log</h4>
        <ul>
          {%- for event in events %}
          <li>{{ event.get_age()|duration }} ago <strong>/</strong> {{ event.text|safe }}</li>
          {%- endfor %}
        </ul>
        <a href="{{ url('thing.views.events') }}">See all</a>
      </div>
      {%- endif %}
    {%- endfor %}
{% endblock %}
